<?xml version="1.0" encoding="utf-8"?>
<manifest
		package="com.zlate87.sample_transport_app"
		xmlns:android="http://schemas.android.com/apk/res/android">

	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

	<application
			android:name=".base.FlavorApp"
			android:allowBackup="true"
			android:icon="@mipmap/ic_launcher"
			android:label="@string/app_name"
			android:supportsRtl="true"
			android:theme="@style/AppTheme">

		<meta-data
				android:name="com.google.android.geo.API_KEY"
				android:value="@string/google_maps_key"/>

		<activity android:name=".feature.routing.controller.SelectRouteActivity">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>

				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>

		<activity
				android:name=".feature.routing.controller.LoadRouteActivity"
				android:noHistory="true">
			<meta-data
					android:name="android.support.PARENT_ACTIVITY"
					android:value="com.zlate87.sample_transport_app.feature.routing.controller.SelectRouteActivity" />
		</activity>

		<activity android:name=".feature.routing.preview.controller.RoutesPreviewActivity">
			<meta-data
					android:name="android.support.PARENT_ACTIVITY"
					android:value="com.zlate87.sample_transport_app.feature.routing.controller.SelectRouteActivity" />
		</activity>

		<activity android:name=".feature.routing.details.controller.RouteDetailsActivity">
			<meta-data
					android:name="android.support.PARENT_ACTIVITY"
					android:value="com.zlate87.sample_transport_app.feature.routing.controller.SelectRouteActivity" />
		</activity>

		<activity android:name=".feature.routing.map.controller.RouteMapActivity">
			<meta-data
					android:name="android.support.PARENT_ACTIVITY"
					android:value="com.zlate87.sample_transport_app.feature.routing.controller.SelectRouteActivity" />
		</activity>
	</application>

</manifest>
